<div id="search-form">
<form class="form-search" action="/search" method="get" role="search">
	<input class="input-medium search-query" name="q" placeholder="Search" type="text" value="<%= params[:q] %>">
	<button class="submit btn primary-btn" type="submit">検索</button>
</form>
<div>
